* {
  font-family:Monospace;
}
.center {
  text-align: center;
}
i.bi {
  font-size: 20px;
}
.rounded {
  border: none;
  border-radius: 25%;
}
.intro {
  font-family: Monospace;
}
form {
  opacity: 1;
  /*padding: 30px;
  height: 100%;*/
  width: 90%;
  margin: auto;
}
.media-heading {
  font-family: Monospace;
}
.media-body {
  font-family:Monospace;
}
#lightSwitch {
  transform: scale(1.8);
}

.bg-light {
  border-radius: 3px;
  color: gainsboro;
}

.bg-dark {
  color: white;
}
.contact {
  margin: 10;
  
}
.bi-user {
  color: white;
}
.input {
  width: 100%;
  flex-direction: row;
  border-radius: 15px;
}
.formi {
  border: none;
  outline: none;
  background-color: #fff;
}
.underline {
  text-decoration: underline;
}
.full {
  width: 100%;
}
.rowbtn {
  flex-direction: row;
  text-align: center;
  width: 100%;
  font-size: 25px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.rowbtn > a > i {
  font-size: 25px;
}
.rowbtn > a {
  color: white;
}
.rowbtn > a > i.bi-facebook {
  stroke: white;
   fill: dodgerblue;
  color: dodgerblue;
}
.rowbtn > a > i.bi-linkedin {
  stroke: white;
   fill: dodgerblue;
  color: dodgerblue;
}
.rowbtn > a > i.bi-instagram {
  stroke: white;
  fill: fuschia;
  color: #f52cca;
}