* {
  font-family:Monospace;
}
.center {
  text-align: center;
}
i.bi {
  font-size: 20px;
}
.rounded {
  border-radius: 100px;
}
.intro {
  font-family: Monospace;
}
 orm {
  background: #fff;
  padding: 30px;
  height: 100%;
}
.media-heading {
  font-family: Monospace;
}
.media-body {
  font-family:Monospace;
}
#lightSwitch {
  transform: scale(1.8);
}

.bg-light {
  border-radius: 3px;
  color: gainsboro;
}

.bg-dark {
  color: white;
}
